/* 
*@author Laxman(laxman@sdrc.co.in)
 */
/* body { */
/* /* 	height: 100.0%; */ */
/* /*     width: 100%; */ */
/*     overflow-x: hidden; */
/* 	display: block; */
/* 	font-family: 'Questrial', sans-serif; */
/* 	color: #202020; */
/* 	font-size: 13px !important; */
/* 	min-height: 100%; */
/* } */
/* [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, */
/* 	.x-ng-cloak { */
/* 	display: none !important; */
/* } */
/* html{ */
/* 	height: 100%; */
/* } */
/* #loader-mask{ */
/* 	z-index: 99999; */
/* } */
/* #spinner{ */
/* 	z-index: 100000; */
/* } */
/* a:focus,a:active,button:focus,button:active { */
/* 	outline: none !important; */
/* } */

a,button {
	-moz-user-focus: none;
	outline: none;
}
/*  div#lightbox { */
/*      display: none !important;  */
/*  } */
.gallery-big-img{
	height: 402px;
}
button.submit-selection {
    padding: 5px 20px;
    border: navajowhite;
    background-color: #2f515b;
    color: #FFF;
    font-size: 15px;
    box-shadow: 1px 1px 10px #414141;
    margin: 10px 0;
}
.chart-head {
     background-color: rgba(166, 189, 217, 0.24);
    padding: 6px 15px;
    margin: 10px 0;
}
.chart-head1 {
   background-color: rgba(166, 189, 217, 0.24);
    padding: 6px 15px;
    margin: 10px 0;
}
a,button {
	outline: 0;
}
/* home page */
.headerinfo{
	color: #333a3b;
	font-size: 20px;
	margin-top: -60px !important;
    margin-left: 80px !important;
}
.partner-margin{
	margin-top: 30px;
    margin-bottom: 70px;
}

.report-height{
	min-height: 580px !important;
}
.about-ahi{
	color: #fff;
    font-size: 20px;
/*     padding: 10px; */
}

.gallery-margin{
	margin-top: 20px;
    margin-bottom: 20px;
}
/* .header-margin{ */
/* 	float: right; */
/* /* 	margin-right: 100px !important; */ */
	
/* } */
/* .footer-logo-unicef{ */
/* 	height: 14px; */
/*     margin-bottom: 2px; */
/* } */
/* .foot-support{ */
/* 	text-align:center; */
/* 	line-height: 35px; */
/* 	margin-left: 40px; */
	
/* } */
/* .termsdata { */
/* 	font-size: 16px; */
/* 	text-align: justify; */
/* } */
/* .terms-margin{ */
/* 	margin-top: 40px; */
/* } */
/* .privacyinfo{ */
/* 	font-size: 22px; */
/* } */
/* .siteMapData { */
/*     list-style-type: square; */
/*     color: #202020; */
/*     font-size: 16px; */
/*     font-weight: 400; */
/* } */
/* .sitesection { */
/*     margin-left: 16px; */
/* } */
/* .logo1{ */
/* 		margin-right:30px ; */
/* 	} */
/* .about-content{ */
/* 	font-size: 14px; */
/*     letter-spacing: .75px; */
/*     color: #fff; */
/*     text-align: justify; */
/*     margin-right: 40px; */
/* }	 */
/* .blank-45{ */
	
/* 	margin: 40px 0; */
/* 	height:10px; */
	
/* } */
/* .dashboard-home-margin{ */
/* 	margin-top: 50px; */
/*     margin-bottom: 20px; */
	
/* } */
/* .learn-more{ */
/* 	color: #a6bdd9; */
/*     text-align: center; */
/*     padding: 20px; */
/* } */
/* .animate-dashboard:hover { */
/*     transform: scale(1.01); */
/* } */
/* span.poweredbysdrc { */
/*     color: orange; */
/* } */
/* span.footerfont{ */
/* 	 text-decoration: none !important; */
/* } */
/* .footerColr a:hover { */
/*     text-decoration: none !important; */
/* /*     color: #ffcc00 !important; */ */
}
/* home page*/

/* .nav-section{ */
/* /*  	padding-top: 0px; */ */
/* } */
/* .nav.navbar-nav li a{ */
/* 	padding: 15px 15px; */
/*     color: #333a3b; */
/*     font-size: 15px; */
/* } */
/* .nav.navbar-nav li a div{ */
/* 	vertical-align: bottom; */
/*     line-height: 1; */
/*     display: inline-block; */
/* } */
/* .nav.navbar-nav li a img{ */
/* 	width: 21px; */
/* 	display: inline-block; */
/* } */
/* .nav.navbar-nav li a:hover{ */
/* 	color: #fff !important; */
/* 	background-color: rgba(51, 58, 59, 0.5); */
/* } */
/* .nav.navbar-nav li.active a{ */
/* 	color: #fff; */
/* 	background-color: rgba(51, 58, 59, 0.5); */
/* } */
/* footer#foot { */
/*     background-color: #333a3b; */
/*     color: #a6bdd9; */
/*    	padding: 3px 0; */
/*     position: relative; */
/*     bottom: 0; */
/*     width: 100%; */
/*     z-index:99999; */
/* } */
footer#foot a{
	color: #a6bdd9;
}
.copyright{
	margin-left: 75px;
	
}
.partner-line{
	border-left: 1px solid rgba(128, 128, 128, 0.59);
    height: 90px;
}
.navbar.nav-menu-container{
		margin-bottom: 0;
 	   box-shadow: 0px 2px 5px #444444;
	    border-radius: 0;
	    margin-top: 0px;
}

.menu-box{
	 box-shadow: 1px 6px 15px #CCC;
	  margin-top:9px;
	
}
/* .home-menu-font{ */
/* /*     background-color: transparent; */ */
/*     position: absolute; */
/*     margin-top: 2px; */
/*     top: 200px; */
/*     z-index: 555; */
/*     width: 100%; */
/*     box-shadow: none; */
/*     background-color: rgba(255, 255, 255, 0.68); */
/* } */

 

.select-container input{
	border: none;
	box-shadow: none;
	border-radius: 0;
}
.select-container .input-group{
	max-width: 291px;
}
.select-container .input-group input{
	max-width: 250px;
/* 	background-color: #dddde0; */
}
.select-container .input-group .input-group-btn button{
	border-radius: 0;
	color: #333a3b;
    background-color: #f07258;
}
.custom-navbar-mobile{
	background-color: #333a3b;
	    margin-top: 25px;
}
.custom-navbar-mobile .icon-bar{
	background-color:  #a6bdd9;
}
.navbar-menu-collapse.navbar-collapse.collapse.in{
	    background-color: #ededf1;
}
/* .form-container{ */
/* 	position: relative; */
/*     max-width: 617px; */
/*     margin: auto; */
/*     margin-top: 100px; */
/* } */
/* .form-container .row .col-md-6{ */
/* 	margin-bottom: 20px; */
/* } */
/* .form-container .row .col-md-12 button{ */
/* 	width: 100%; */
/* 	height: 40px; */
/*     font-size: 17px; */
/* 	color:  #333a3b; */
/* 	border: none; */
/* 	background-color:  #a6bdd9; */
/* } */
/* .open>ul.dropdown-menu { */
/*     right: 0; */
/*     left: auto; */
/*     border-radius: 0; */
/*     max-height: 300px; */
/*     overflow-y: auto; */
/*     padding: 0px; */
/* } */

.angular-google-map-container{
	height: 500px;
}
.selectSectorMap{
	position: absolute;
}
.searchFacility {
	position: absolute;
    right: 0;
}
.selectSectorMap .select-container .input-group .input-group-btn button{
	background-color: #FFF;
    color: #000;
}
.searchFacility .select-container .input-group .input-group-btn button{
	background-color: #FFF;
	color: #000;
}
.searchFacility input , .selectSectorMap input{
	background-color: #FFF !important;
	color: #000 !important;
}
.searchFacility input, .searchFacility button, .selectSectorMap input, .selectSectorMap button{
	box-shadow: 5px 2px 10px 2px #CCC;
}
#mapContainerId{
	margin-top: 25px;
}
.domain {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}
#myTab{
	    margin-bottom: 25px;
}
.searchedDataForTable {
    border-bottom: 2px solid #CCC;
    color: #555;
/*     margin-left: 14px; */
} 
.searchedDataForTable h5{
   margin-bottom: 3px;
}
table#dataTable{
	margin-top: 25px;
}
table#dataTable th.sortSelected{
	background-color: #a6bdd9;
	color: #333a3b;
}
table#dataTable th {
    background-color: #333a3b;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    border-right: 3px solid #FFF;
}  
table#dataTable th:last-child{
	border-right: none;
}
table#dataTable tr:nth-child(even) {
    background-color: #eee;
}
table#dataTable tr:nth-child(odd) {
    background-color: #DDD;
}
.sorting1{
	cursor: pointer;
}
table.advanceSearch .sorting1 {
    float: right;
    vertical-align: middle;
    cursor: pointer;
}
.sorting1 i.fa-caret-up {
    position: absolute;
    margin-top: -2px;
    vertical-align: middle;
}
.sorting1 i.fa-caret-down {
    vertical-align: bottom;
}
.legends {
    background: none repeat scroll 0 0 white;
    box-shadow: 3px 3px 5px #888888;
    font-size: 1em;
    margin-right: 1%;
    padding-right: 3.5%;
    position: absolute;
    right: 0;
    text-align: right;
    bottom: 25px;
    z-index: 555;
}
.legends li {
    list-style: none;
}
.legend_list {
    height: 30px;
}
.legends .legnedblock {
    height: 20px;
    width: 20px;
    float: right;
    margin: 3px 0px 3px 10px;
}
.firstslices {
    fill: #d7191c;
    background-color: #d7191c;
}
.secondslices {
    fill: #FF8000;
    background-color: #FF8000;
}
.fourthslices {
    fill: #1a9641;
    background-color: #1a9641;
}
#pdfDownloadBtn, #excelDownloadBtn {
    background-color: #a6bdd9;
    color: #343a3b !important;
    border-radius: 0;
    margin-top: 7px;
}

section.pushpinDesc {
    position: absolute;
    padding-top: 12px;
    background-color: rgba(166, 189, 217, 0.24);
}
span.legnedblock {
    margin-right: 6px;
}
span.legnedblock img {
    width: 14px;
}
/* .totalDist{ */
/* 	display: inline-block; */
/*     width: 100%; */
/*     text-align: center; */
/*     left: 0; */
/*     position: absolute; */
/* } */
li.pin_list {
    list-style-type: none;
    display: inline-block;
    margin-right: 31px;
        text-align: center;
    margin-bottom: 10px;
}
.ui-autocomplete{
	max-height: 300px;
	overflow: auto;
	z-index: 9999;
}
.btn[disabled] {
    background-color: #a5a4a4 !important;
    color: #333 !important;
}
#dataTable.report td:first-child{
	color: #333a3b;
	cursor: pointer;
}
#dataTable.report tbody tr:last-child{
	font-weight: bold;
	font-size: 14px;
}
#dataTable.report tbody tr:last-child td:first-child{
	cursor: default;
}
#dataTable.report tbody tr:last-child td:first-child:hover{
	text-decoration: none;
}
#dataTable.report td:first-child:hover{
	text-decoration: underline;
}
#districtTable .modal-dialog {
    width: 100%;
    padding-top: 90px;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    border-radius: 0;
}
#districtTable .modal-dialog .modal-content{
	height: 100%;
    border-radius: 0;
    overflow: auto;
}
#districtDataTable th, #districtDataTable td{
	text-align: center;
}
#districtDataTable td:first-child{
	text-align: left;
}
@media(min-width: 768px){
	.navbar.nav-menu-container.fixed{
		position: fixed;
		width: 100%;
		z-index: 9998;
	    background-color: #FFF;
	}
	
}
@media(max-width: 767px){
/* ul.nav.navbar-nav.navbar-right.nav-submenu.nav-place-right{ */
/* 	height: 222px !important; */
/*     overflow-y: scroll !important; */
/* 	} */
}
@media(max-width: 992px){
	.select-container.dist-list .input-group{
		float: none !important;
		margin: auto;
	}
	.contactColor
	{
	margin-top:60px;
	}
}
@media (max-width: 456px){
	.custom-navbar-mobile{
		margin-top: 85px;
	}
	.beforephotos
   	{
   	margin-top: 169px !important;
   	}
   	.chart-head
   	{
   	height: 119px;
   	margin-top: 127px;
   	}
   	.chrtHead
   	{
   	margin-top: 163px !important;
   	}
   	.selectSectorMap
   	{
   	position:relative;
   	margin-top:10px;
   	}
   	.searchFacility
   	{
/*    	position:relative; */
   	margin-top:10px;
   	}
   	.mobileiew
   	{
   	margin-left: 67px;
    margin-top: 10px;
   	}
   	#columnbarChart
   	{
   	width:100%
   	}
   	.imageAccess
   	{
/*    	height: 75px; */
   	}
   	.imageLogoRes {
    height: 43px !important;
    margin-top: 23px !important;
	}
	.open>ul.dropdown-menu
	{
	right: -1px;
    left: -649%;
    overflow-y: auto;
    width: auto;
	}
	.tableMargin
{
	margin-bottom: 200px;
}
.timeperioddropdown
{
	right: 0px !important;
    left: -243% !important;
}
.stateDropdown
{
	right: -1px !important;
	left: -246% !important;
	}
.marginFrmbottom
	{
	margin-bottom: 50px;
	}
}
/* Swarna */
 /* for about us content and heading design **/
 
/*  .about-center { */
/*  	text-align: center;  */
/* 	margin-top: 30px; */
/* 	margin-bottom: 30px; */
/* 	color: #fff;; */
/* 	font-weight: bold; */
/* } */
/* .about-img{ */
/* 	margin-bottom: 40px; */
/*     margin-left: 40px; */
/*     padding: 24px; */
/*     margin-top: -20px; */
/* } */
 /*end for about us content and heading design **/

/* background color and height for contact us box */

.contactColor {
	background-color: #E9EEF2;
}
.content-section {
	height: 635px;
}
.heading-contact {
	margin-bottom: 45px;
}
.contactus-font {
    color: #333a3b;
    font-weight: bold; 
    text-align: center;
    margin-top: 30px;
}
.partner-unicef{
	height: 100px;
}
.partner-font {
    color: #333a3b;
    text-align: center; 
    margin-bottom: 30px;
  	font-weight: bold; 
}
.contactus-font1 {
    font-weight: bold; 
    color: #4a7196;
    font-size: 20px;
/*     margin-bottom: 20px; */
}
.contactus-font2 {
    
    color: #4a7196;
    font-size: 14px;

}
.facebook-img{
	height:65px;
	margin-right: 20px;
	
}
.twitter-img{
	height: 65px;
	margin-right: -8px;
   
}
.insta-img{
	height: 65px;
	margin-right: 20px;
   
}
.link-img{
	height: 65px;
}
.about-ahi-ul{
	display: inline-flex;
  	list-style-type: none; 
   	padding:0;
	
}
.about-ahi-li{
/* 	margin-left: 15px; */
	
}
.about-ciff-li{
	margin-left: 50px;
	
}

/* end background color and height for contact us box */

/* dropdown menus for resources menu */

.reportDropDown {
	min-width: 99% !important;
	width: auto !important;
	padding:0px 20px;
}
li.open a.dropdown-toggle {
	background-color:#fff;
}
.resourcesHome li a
{
padding: 9px 15px !important;
}
.resourcesHome li a:hover
{
	background-color:red;
	color:black;
}
/* end dropdown menus for resources menu */

/* logo in header */

.logoHeader {
	margin-top: 5px;
	margin-bottom: 3px;
}
/* end logo in header */

/*sections for partners */

.margin-top-20
{
	text-align: center;
    color: #cf4d46;;
    margin-bottom:10px;
}
.dashboard-div{
	background-color: rgba(51, 58, 59, 0.87) !important;
	
}
.partnersLogo
{
	text-align: center;
    color: #fff;
/*      padding: 13px 72px 13px 72px;  */
/*     background-color: #a6bdd9; */
	padding: 20px;
	font-size:26px;
	font-weight: bold; 
}
/* h5.title.partnersLogo:hover { */
/*     color: #a6bdd9 !important; */
/* } */
.border-gallery{
	
	text-align: center;
    /* border: 1px solid rgba(128, 128, 128, 0.22); */
   padding: 30px;
    margin-bottom: 25px;
    text-align: -moz-center;
	text-align: -webkit-center;
}
#themeSection
{
	margin-bottom: 50px;
	height: 214px;
}
.sectionMargin
{
    margin-top: 30px;
}
.imageLogoRes
{
	height: 60px;
    margin-top: 17px;
}
.home-img-gallery{
	height: 120px;
	
}
.fundedBy
{
	text-align:center;
	height:50px;
	margin-top: 20px;
}
.backgrndClr
{
/* 	background-color: aliceblue; */
	height: 105%;
}
/* table data design of advancesearch page */

.totaldataCenter
{
	text-align:center;
}
.excelbtn
{
	width: 35px;
	float: right;
	cursor: pointer;
}
.leftMargin
{
	margin-left:-30px;
}

/*tooltip for advance search page excel btn */


/* heading design for tools page */

.titleClr
{
	color:#333a3b;
} 
.toolsContent
{
	color:#333a3b;
	font-size:17px;
}
.margintop
{
	margin-top:50px;
	margin-bottom:200 px /** Harsh*/
}
i.fa.fa-2x.fa-file-pdf-o
{
	color:#333a3b !important;
}
.factsheet
{
	margin-top:45px;
}
.fontSIze
{
	    font-size: 15px;
}
i.fa.fa-android {
    font-size: 30px;
    color: #333a3b;
}
.marginBottom
{
	margin-bottom:40px;
}

/* gallery */

#list1
{
	list-style-type:none;
	display:inline-flex;
}

.photogallery {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      .photogallery li {     
          list-style:none;
          margin-bottom:25px;           
      }
      .photogallery li img {
          cursor: pointer;
      }
      .modal-body {
/*           padding:5px !important; */
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
/*           margin:0 auto; */
			width: 100%;
      }
    .controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;          
    }
    .next {
/*         float:right; */
        text-align:right;
    }
      /*override modal for demo only*/
      .modal-dialog {
/*           max-width:500px; */
/*           padding-top: 90px; */
      }
      @media screen and (min-width: 768px){
          .modal-dialog {
/*               width:500px; */
/*               padding-top: 90px; */
          }          
      }
      @media screen and (max-width:1500px){
          #ads {
              display:none;
          }
      }
      
      /* end gallery */
      
    /* dashboard column chart legend */
    
    .withoutAverage
    {
    margin-left: 89px;
    width: 56%;
    margin-top: 12px;
    } 
    .legendWithAverage
    {
    	    width: 68%;
    margin-left: 53px;
    margin-top: 14px;

    }
    .borderRight{
    border-right: 1px dotted #333a3b;
    }
    
    /* before after photos */
    
    .beforephotos, .afterphotos
    {
    text-align: center;
    color: #333a3b;
    padding: 19px 71px 19px 72px;
   background-color: rgba(166, 189, 217, 0.24)
    }
    .backgroundclr
    {
    text-align: center;
    }
    
    /* end photos */
    
    /* contact us map */
    
    .marginMap
    {
        margin-top: 35px;
    	margin-bottom: 35px;
    } 
    .contact-head{
    	    margin-top: 20px;
    }
    
   
    @media(max-width: 768px){
/*     .navbar.nav-menu-container.fixed{ */
/* 		position: fixed; */
/* 		width: 100%; */
/* 		z-index: 10000; */
/* 	    background-color: #FFF; */
/* 	} */
	.about-ahi-li {
   		 margin-left: 38px;
	}
	.about-img{
		margin-bottom: 0px;
		margin-left: 120px;
	}
	.blank-45 {
    	margin: auto 0;
    }
    .about-center,.partner-font {
   		 text-align: center;
    }
	.partner-line {
    	border-left: none;
	}
	footer#foot{
		padding: 0px 0;
	}
	.foot-support {
	    line-height: 0px;
	    margin-left: 0px;
	}
	.footerColr{
		 line-height: 0px;
	}
	.powered-tab,.tabletviewres{
		text-align: center;
    	line-height: 20px !important;
	}
    .txtCenter
    {
    	text-align:center;
    }
    .contactColor
    {
     margin-top:65px;
    }
    .heading_partDesktop
    {
    	text-align: center;
    	 margin-top: 80px;
    }
    .stateWidth 
    {
	    margin-top: 10px;
	    margin-left: 165px;
    }
    .chart-head
    {
	    height: 100px;
	    margin-top: 65px;
    }
    #photoGallery
    {
        margin-top: 75px;
    }
    .searchFacility
    {
    width: 43%;
    left: 56%;
    }
    .tableMargin 
    {
    margin-bottom: 141px;
    }
	.excelPosition
	{
	    margin-bottom: 34px;
	}
    #form-section
    {
    margin-bottom:0px;
    }
    .totaldataCenter
    {
    width:35%;
    }
     .header-margin{
    	width: 106%;
    }
   }
    @media(max-width: 480px){
    	.logo-home{
    		width: 85%;
    	}
    }
   logo-home
   @media(max-width: 580px){
   
   .footerColr,.powered-tab, .tabletviewres {
   	 line-height: 14px !important;
	}
	.logo1{
		margin-right:0px !important;
	}
   }
   @media(max-width: 380px)
   {
   	.headerinfo
   	{
   	margin-top: 76px;
    margin-left: 90px;
   	}
   	.svgInline
   {
   margin-left:0px !important;
   }
   .facebook-img,.twitter-img {
	    
	    margin-right:0px;
	}
	.twitter-img,.link-img {
    	margin-top: 5px;
	}
	.copyright1{
		margin-left: 24px;
	}
	.copyright{
		margin-left: 4px;
	}
	
   }
   
   /*modal next btn */
   
   .nextbtn:hover
   {
   	background-color: #333a3b;
    border-color: #333a3b;
   }
   .nextbtn
   {
   	background-color: #333a3b;
    border-color: #333a3b;
   }
   .modal-footer .btn-primary{
	   	background-color: #333a3b !important;
	    border-color: #333a3b !important;
	    color:#fff;
   }
  
  @media(max-width: 640px){
  	.about-img{
		margin-bottom: 0px;
		margin-left: 50px !important; 
	}
	.about-content {
	    padding: 6px;
	    margin-left: 19px;
	}
	.about-center {
		padding: 30px;
		margin-top: 0px;
	}
  
  
  }
   
   @media(max-width: 992px)
   {
   .myTabContent1{
		text-align:center;
	}
	.partner-line {
    	border-left: none;
	}
	img.inner-slr-img {
    	display: none;
	}
	
	.dashboard-div{
		margin-bottom: 30px;
	}
	.about-content {
	    padding: 6px;
	    margin-left: 19px;
	}
	.about-center {
		padding: 30px;
		margin-top: 0px;
	}
   }
   

.tooltip-inner {
	background-color: #333a3b !important;
	color: #fff !important;
}
#form-section
{
/* 	margin-bottom: 90px; */
}
.marginBottm
{
	margin-bottom:30px;
}
 /* spider chart legend */
   
   .svgInline
   {
   	display:inline-flex;
   	margin-left:100px;
   }
   .timeperiodLegend
   {
   	margin-left:12px;
   	margin-right:12px;
   	font-weight: bold;
    font-size: 15px;
   }
   .inlinelegendData
   {
   display:inherit;
   }
   .legendSpider
   {
   margin-top: -121px;
    margin-bottom: 83px;
   }
   
   /* end spider chart legend */